a {
  text-decoration: none;
  color: rgba(26, 24, 24, 0.829);
}
.coin {
  background-color: rgba(255, 255, 255, 0.959);
  padding: 0.4rem;
  border: 0.2px solid rgba(216, 216, 216, 0.411);
  margin: 0.7rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  box-shadow: 6px 6px 10px rgb(139, 121, 108);
  border-radius: 12px;
}
.coin img {
  margin: 1.4rem;
}
.info {
  display: flex;
  flex-direction: row;
}
.info h3 {
  margin-right: 0.5rem;
}
.info h4 {
  margin-left: 2.5rem;
}
.coin h4 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
#Red {
  color: red;
}
#Green {
  color: green;
}
#symbol {
  font-weight: lighter;
  color: rgb(104, 102, 100);
}
