.MainBody {
  background-color: #bde1ff;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid;
}

.Header {
  /*background-color: #bde1ff;*/
  display: flex;
  flex-direction: row;
  margin: 0.3rem;
  padding-left: 4rem;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
}
.subHeader {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: flex;
  flex-direction: row;
  margin: 0rem;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
}

.subHeader h2 {
  font-weight: 200;
  color: rgb(172, 170, 170);
}

#Logo {
  border-radius: 100px;
  width: 15%;
  margin-right: 5rem;
}
#Titulo {
  width: 34%;
  margin-left: 8rem;
}

.Menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #54dbd2;
  border: 1px solid;
  border-radius: 20px;
  width: 8%;
}

.List {
  margin-top: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.WeekMoney {
  border-radius: 20px;
  background-color: rgb(247, 247, 149);
  height: auto;
  margin: 0.5rem 0rem;
  padding: 2rem, 0.5rem;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 50px #b3b61f;
  align-items: center;
  justify-content: center;
}

#WeekCoin {
  height: 130px;
  margin-left: 1rem;
}

.Footer {
  color: rgb(104, 102, 100);
  display: flex;
  flex-direction: column;
  margin: 0.3rem;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
}

.Footer h2 {
  font-weight: 200;
}

.Footer a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 5.2rem;
}

.Footer a image {
  width: 50px;
}
.Creators {
  font-weight: 100;
}
